body {
  font-family: "Lato", Georgia;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  color: #434343;
}
li {
  list-style: none;
  zoom: 1;
  *display: inline;
}
ul, ol, dl {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: #434343;
  margin-bottom: 0;
  font-weight: 400;
}
p {
  margin-top: 0px;
  color: #434343;
}
a:link {
  color: #434343;
  text-decoration: underline;
}
a:visited {
  color: #222;
  text-decoration: underline;
}
a:hover, a:focus {
  color: #f97b0c;
  text-decoration: none;
}
a:active {
  color: #FFB37F;
  text-decoration: none;
}
input, textarea {
  -webkit-border-radius: 0;
}
input[type='text'] {
  width: 240px;
  height: 24px;
  line-height: 24px;
  color: #333333;
  font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
  border: 1px solid #BABABA;
  padding: 5px 6px 5px 9px;
  vertical-align: middle;
  background-color: #FFFFFF;
}
input[type='text']:focus,
input[type='text']:hover {
  border-color: #5C5C5C;
}

.ui-autocomplete {
  position: absolute;
  cursor: default;
  max-height: 500px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */

  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */

  padding-right: 20px;
 
  /* For IE 8 */

  /* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='@color')"; */

  /* For IE 5.5 - 7 */

  /* filter: ~"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=@color)"; */

}

* html .ui-autocomplete {
  height: 210px;
  width: 1px;
}

.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  float: left;
}

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%;
  text-align: left;
}
.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: .2em .4em;
  line-height: 1.5;
  zoom: 1;
}
.ui-menu .ui-menu-item a.ui-state-hover {
  font-weight: normal;
  margin: -1px;
}

.ui-autocomplete-category {
  color: #999999;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  margin: 1px;
  padding-bottom: 3px;
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff 50% top repeat-x;
  color: #619FDB;
}
.ui-widget-content a {
  color: #3C4145;
}

.ui-state-default {
  border: 1px solid #2D404F;
  background: #f6f6f6 50% 50% repeat-x;
  font-weight: bold;
  color: #1c94c4;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover {
  border: 1px solid #6CB5F9;
  background: #FFDE99 50% 50% repeat-x;
  font-weight: bold;
  color: #006FA1;
}

.ui-widget :active {
  outline: none;
}

.tab {
  float: left;
  width: 770px;
  padding: 5px;
  background-color: #F7991D;
  margin-left: -20px;
  margin-right: -17px;
}
.tab tr {
  font-size: 19px;
  height: 30px;
}
.tab tr td {
  cursor: pointer;
  width: 155px;
  padding-right: 5px;
}
.tab tr td.nolink {
  cursor: auto;
}
.tab tr td span {
  margin-left: 10px;
}
.tab td.selected {
  background-color: #F7991D;
  color: #F7FFFF;
}

div#kotaPopuler {
  float: left;
  border-right: solid 2px #F79A12;
  height: 550px;
  width: 175px;
  background-color: #2D404F;
  margin: 0 20px -5px -9px;
  padding-top: 10px;
}
#kota-populer-icon {
  background: url('img/sprite-pesawat-pop-lokasi.png') no-repeat -84px -37px;
  margin-top: -2px;
}
div#kotaPopuler:hover #kota-populer-icon {
  background: url('img/sprite-pesawat-pop-lokasi.png') no-repeat -84px -37px;
}
#domestik-icon {
  background: url('img/sprite-pesawat-pop-lokasi.png') no-repeat -15px -92px;
  width: 20px; 
  height: 28px;
  margin-left: 15px;
  margin-top: -4px;
}
.tab td:hover #domestik-icon {
  background: url('img/sprite-pesawat-pop-lokasi.png') no-repeat -15px -92px;
  width: 20px; 
  height: 28px;
  margin-top: -4px;
}
#internasional-icon {
  background: url('img/sprite-pesawat-pop-lokasi.png') no-repeat -171px -92px;
  width: 28px; 
  height: 29px;
  margin-top: -4px;
}
.tab td:hover #internasional-icon {
  background: url('img/sprite-pesawat-pop-lokasi.png') no-repeat -171px -92px;
  width: 28px; 
  height: 29px;
  margin-top: -4px;
}
.airport-icon {
  width: 25px;
  height: 25px;
  float: left;
  margin-left: 5px;
}

textarea {
  border-color: #bababa;
}
textarea:hover {
  border-color: #5c5c5c;
}

.ui-tooltip, .qtip {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  max-width: auto;
  
  /* For IE 8 */

  /* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='@color')"; */

  /* For IE 5.5 - 7 */

  /* filter: ~"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=@color)"; */

}

.ui-tooltip-content {
  position: relative;
  padding: 5px 9px;
  overflow: hidden;
  text-align: left;
  word-wrap: break-word;
}
.ui-tooltip-titlebar {
  position: relative;
  min-height: 14px;
  padding: 5px 35px 5px 10px;
  overflow: hidden;
  border-width: 0 0 1px;
}
.ui-tooltip-titlebar + .ui-tooltip-content {
  border-top-width: 0 !important;
}
/* Default close button class */
.ui-tooltip-titlebar .ui-state-default {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -9px;
  cursor: pointer;
  outline: medium none;
}
* html .ui-tooltip-titlebar .ui-state-default {
  top: 16px;
}

.ui-tooltip-icon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}

.ui-tooltip-default {
  border-color: #F1D031;
  background-color: #2D404F;
  color: #619FDB;
}
.ui-tooltip-default .ui-tooltip-titlebar {
  background-color: #2D404F;
  color: #FBFFFF;
  font-size: 22px;
}
.ui-tooltip-default .ui-tooltip-icon {
  padding-right: 6px;
}

.ui-tooltip-light {
  background-color: #2D404F;
  border-color: #CCCCCC;
  color: #666666;
}
.ui-tooltip-light .ui-tooltip-titlebar {
  background-color: #2D404F;
}

.ui-tooltip:not(.ie9haxors) div.ui-tooltip-content, .ui-tooltip:not(.ie9haxors) div.ui-tooltip-titlebar {
  filter: none;
  -ms-filter: none;
}

.controls input[type="text"] {
  margin-top: 5px;
  margin-bottom: 5px;
}