table.airportSelectTable {
  margin-bottom: 15px;
  border-collapse: collapse;
  width: 743px;
}
table.airportSelectTable col.airportName {
  width: 190px;
}
table.airportSelectTable td {
  border-right: 1px solid #CCCCCC;
  padding-left: 15px;
  font-size: 16px;
  line-height: 15px;
  height: 17px;
  width: 187px;
}
table.airportSelectTable td.header {
  font-weight: bold;
  padding-left: 7px;
  color: #FBFFFF;
  font-size: 15px;
}
table.airportSelectTable td.last {
  border-right: none;
}
table.airportSelectTable a {
  color: #FBFFFF;
  text-decoration: none;
}
span.fs-close-sum-icon {
  background: url("img/sprite-pesawat-pop-lokasi.png") -298px -58px no-repeat scroll;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  /* HACK for IE7 ONLY */

  zoom: 1;
  /* HACK for IE7 ONLY */

  float: right;
  width: 19px; 
  height: 18px;
}
td.ibu a.sourceAirport, td.ibu a.destinationAirport {
  color: #FBFFFF;
}
div.header.ibu {
  margin-bottom: 20px;
  margin-left: 5px;
  background-color: #F7991D; 
  padding: 9.2px; 
  margin-top: -10px;
}
div.header.ibu span {
  margin-left: 5px;
  font-size: 19px;
  line-height: 20px;
  color: #F7FFFF;
  margin-bottom: 20px;
}
td a.sourceAirport:hover,
td a.sourceAirport:active,
td a.sourceAirport:focus,
td a.destinationAirport:hover,
td a.destinationAirport:active,
td a.destinationAirport:focus,
td.ibu a.sourceAirport:hover,
td.ibu a.sourceAirport:active,
td.ibu a.sourceAirport:focus,
td.ibu a.destinationAirport:hover,
td.ibu a.destinationAirport:active,
td.ibu a.destinationAirport:focus {
  color: #F97B0C;
  text-decoration: none;
}

.fs-first-col-input[type="text"]:focus {
  border: 1px solid none;
  outline: 0 none;
}
input[type='text'].first-input-field {
  width: 201px;
  height: 24px;
  color: #333333;
  

  font: 100%/1.4 "Lato", Georgia;
  border: 1px solid #CCCCCC;
  padding: 5px 6px 5px 9px;
  vertical-align: middle;
}

label {
  font-size: 1.12em;
  font-weight: 400;
}

.control-group {
  margin-left: 20px;
  margin-top: 3px;
  width: auto;
}

dt, dd {
  color: #434343!important;
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none outside none;
}

img {
  margin: 0px;
  padding: 0px;
}